.materia-list {
    margin: 60px auto;
    width: 600px;
    padding: 15px;
}

.item-materia-list {
    list-style: none;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #5E6Fd3;
}

.item-materia-list > label {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
}

input[type='checkbox'] {
    display: none;
}

.materia-list input[type='checkbox']:checked + label::before {
    content: '-';
}

.conteudos {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    transition: max-height 0.5s, padding 0.5s;
    background-color: #5E6Fd3;
}

.materia-list input[type='checkbox']:checked + label + .conteudos {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.material {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.material h3 {
    width: 160px;
    font-size: 14px;
}
.material > p {font-size: 10px;}